.root {
    -fx-background-color: #e3e3e3;
    -fx-font-size: 12;
    -fx-font-family: sans-serif;
}

.label-operator-main-bold {
    -fx-font-weight: bold;
}

.label-operator-main-norm {
    -fx-font-weight: normal;
}

.label-notif-main {
    -fx-font-size: 13px;
    -fx-text-fill: red;
}

.label-notif-uarfcn {
    -fx-font-size: 13;
    -fx-text-fill: red;
}

.menu-my {
    -fx-text-fill: azure;
}

.progress-bar {
    -fx-background-color: #e3e3e3;
}

.tooltip {
    -fx-font-size: 14;
    -fx-font-weight: normal;
}
